*{
    margin:0;
    padding:0;
  }
  
body{
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./images/img1.jpg);
  background-position: center;
  background-size: cover;
  height:100vh;
}
.navbar-inverse .navbar-collapse{
  background-color: lightblue;
  
}
.navbar-nav{
    float:right;
    list-style:none;
    margin-top:30px;
    
  }
  .navbar-nav li{
    display:inline-block;
    
  }
  .navbar-nav li a{
    color:maroon;
    text-decoration:none;
    padding:5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    border-radius: 1rem;
  
  }
  .navbar-nav li.active a
  {
    border:1px solid black;
    background-color: white;
  }
  .navbar-nav li a:hover
  {
     border:1px solid black;
     background-color: white;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar-header h1{
    float:left;
    margin-top:30px;
    margin-left:50px;
    font-family:cursive;
    color: black;
  }
  .here{
    position :absolute;
    margin-left:30px;
    margin-top:0px;
  }
  h2{
    color:violet;
    text-transform: uppercase;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 250px;
  }
  .button{
    margin-top:30px;
    margin-left:150px;
  }
  .btn{
    border:2px solid white;
    padding:10px 30px;
    color:black;
    text-decoration: none;
    margin-right:5px;
    font-size:13px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border-radius:1rem;
  }

  .btn-one:hover{
    background-color: lightgreen;
    transition: all 0.5s ease-in;
  }

  @media only screen and (max-width: 768px) {
    .navbar-nav li a{
      font-size:18px;
    }
    .btn-one{
      background-color: lightgreen;
    }
  }

  @media only screen and (min-width: 350px){
    .navbar-nav li a{
      font-size:18px;
    }
    .navbar-inverse .navbar-header{
      background-color: lightblue;
    }
    .navbar-toggle{
      margin-top:25px;
      background-color:black;
    }
    .navbar-header h1{
      margin-top:20px;
      margin-bottom:15px;
    }
   
    
  .button{
    margin-left:100px;
  }
  

  }
 
